* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 80px;
    height: 2500px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

header {
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar {
    position: relative;
    height: 80px;
    width: 100%;
    transition: 0.5s ease;
}

.navbar .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 5%;
}

.navbar .nav .item {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
    font-weight: 600;
    line-height: 80px;
    margin-right: 20px;
    transition: 0.5s ease;
    color: #212529;
}

.navbar .nav .item .contact {
    display: inline-block;
    background-color: #ffffff;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
}

.navbar .nav .item a {
    text-decoration: none;
    color: inherit;
}

.navbar .logo {
    float: left;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.navbar .logo img {
    width: 70%;
    margin-top: 17px;
}

.active {
    background-color: #21C7FF;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    color: white !important;
}

.jumbotron {
    margin-top: 50px;
}

.first-half {
    float: left;
    width: 50%;
    margin-top: 70px;
}

.first-half h1 {
    line-height: 45px;
    letter-spacing: -1px;
    font-size: 35px;
    color: #212529;
}

.first-half p {
    color: #A1A1A1;
    font-weight: 500;
    width: 80%;
    margin-top: -20px;
    margin-bottom: 30px;
}

.second-half {
    float: left;
    width: 50%;
}

.second-half img {
    width: 85%;
    display: block;
    margin: auto;
}

.first-half .btn-daftar {
    background-color: #21C7FF;
    border: none;
    padding: 12px 50px 12px 50px;
    border-radius: 40px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0px 18px 40px rgba(33, 199, 255, 0.3);

}

.first-half .btn-cara-daftar {
    background-color: white;
    border: 2px solid #21C7FF;
    padding: 12px 50px 12px 50px;
    border-radius: 40px;
    color: #21C7FF;
    font-weight: 600;
    text-decoration: none;
}

.favourite-spots {
    margin-top: 600px;
}

.favourite-spots h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: -0.01em;
    color: #212529;
}

.favourite-spots p {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #a1a1a1;
    width: 60%;
    margin: -30px auto;
}

.contents-item {
    margin-top: 60px;
    margin-left: 20px;
}

.contents-item img {
    float: left;
    width: 21%;
    margin-left: 30px;
}

.main-content-2 {
    position: absolute;
    margin-top: 400px;
    margin-left: 90px;
}

.lihat {
    margin-top: 20px;
    color: #21c7ff;
    float: left;
    padding-left: 600px;
}

.email-section {
    margin-top: 1000px;
}

.email-section .container .card {
    background-color: #21C7FF;
    border-radius: 5px;
    padding: 5px;
}

.card img {
    width: 30%;
    margin: 0 auto;
    display: block;
}

.email-illustrations {
    width: 100%;
}

.email-section .container .card p {
    text-align: center;
    color: white;
    font-weight: 600;
    margin-top: -50px;
}

.email-section .container .card input {
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
}

.email-section .container .card button {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;

}

.btn-subscribe {
    display: inline-block;
    background-color: white;
    border: 2px solid #21C7FF;
    padding: 6px 25px 6px 25px;
    border-radius: 40px;
    color: #21C7FF;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}